@import url("https://fonts.googleapis.com/css2?family=Arapey&display=swap");
@font-face {
  font-family: AmsterdamTwo;
  src: url(./assets/amsterdam-two-ttf.ttf);
}

:root {
  font-family: "Arapey", serif;
  color: #c6302c;
}
